.checklistContainer{
  column-gap:4%;
  padding:4%;
  background-color: var(--white);
  box-shadow: 0px -0.5px 8px 0px var(--lightgray);
  overflow-x: hidden;
  column-count: 2;
  column-width: 50%;
}

.pageContainer {
  padding-inline:10%;
  padding-block:5%;
  background-color: var(--bodycolor);
}

@media (max-width: 768px) {
  .checklistContainer{
    box-shadow: none;
    column-count: 1;
    column-width: 100%;
  }

  .pageContainer{
    background-color: var(--white);
    padding:0;
  }

  .checklistContainer>*{
    width:100%;
  }

  

}
