.container {
  display: flex;
  align-items: center;
  margin: auto auto auto 26px;
}

.label {
  opacity: 1;
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  align-items: center;
  line-height: 24px;
}
