.radioGroup {
  font-size: 14px;
  text-transform: capitalize;
  accent-color: #e60000;
}

.category {
  display: flex;
  align-items: left;
  margin-top: 15px;
  opacity: 1;
  color: var(--title-color);
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  line-height: 18px;
  font-family: "Arial";
  margin-bottom: 10px !important;
}

.radioContainerTwo {
  display: grid;
  grid-template-columns: auto auto;
}

.radioContainerThree {
  display: grid;
  grid-template-columns: auto auto auto;
}
.space{
  position: relative;
  margin-left: 5px;
  top: -2px;
}
