.subHeaderContainer {
  border-bottom: 1px solid var(--divider);
}

.subHeaderImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 91px;
  height: 91px;
  bottom: 7px;
  right: 122px;
}

.subHeaderContent {
  margin: 32px auto 52px 132px;
  text-align: left;
  position: relative;
}

.subHeaderTitle {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 7px;
  color: var(--black);
}

.subHeaderSubtitle {
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 5px;
  color: var(--granite);
  height: 48px;
  width: 470px;
}

/* Mobile-specific */
@media (max-width: 768px) {
  .subHeaderImage {
    width: 60px;
    height: 60px;
    bottom: 53px;
    right: 17px;
  }

  .subHeaderContent {
    margin: 48px auto 28px 16px;
    text-align: left;
  }

  .subHeaderTitle {
    font-size: 26px;
    margin-bottom: 3px;
    width: 70%;
  }

  .subHeaderSubtitle {
    font-size: 18px;
    margin-bottom: 0px;
    height: 72px;
    width: 70%;
  }
}

@media (max-width: 300px) {
  .subHeaderImage {
    bottom: auto;
    top: 12px;
    right: 6px;
  }

  .subHeaderTitle {
    width: 50%;
  }

  .subHeaderSubtitle {
    height: auto;
    width: 70%;
  }
}

@media (max-width: 160px) {
  .subHeaderImage {
    width:50px;
    height: 50px;
  }
}