.container {
  border-radius: 6px;
  border: 1px solid var(--lightgray);
  opacity: 1;
  background-color: var(white);
  margin-top: 4px;
  margin-bottom: 15px;
  padding: 0;
  transition: all 0.2s;
  width:100%;
  -webkit-column-break-inside: avoid;
}

.container:hover {
  border: 1px solid var(--black);
  background-color: var(--lightergray);
}

.innerContainer {
  opacity: 1;
  display: flex;
  flex-direction: row;
  width:100%;

}
